.cardImageContainer {
  position: relative;
}

.cardName {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 6px;
  font-size: 16px;
}

.cardImage {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

.cardLink {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.cardBody {
  background-color: tomato;
  padding: 8px 12px;
  height: 100%;
}
.cardDescription {
  margin-bottom: 20px;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardRating {
  color: rgb(26, 26, 26);
}

.rating {
  margin-left: 6px;
  font-weight: 600;
}

.cardPrice {
  font-size: 24px;
  font-weight: 600;
}
